@import "./mixins";
.container1{
    @include flex(space-between, start);
    background-color: rgb(20, 20, 20);
    border-radius: 25px;
}
.container2{
    height: calc(100vh - 40px);
    // background-color:rgb(40, 40, 40);
    overflow-y: scroll;
    width: 400px;
    margin: auto;
    border-radius: 0 8px 8px 0;
}