@mixin flex($justify: center, $align: center, $direction: row, $gap: 5px ) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-direction: $direction;
  }